/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {width: 100%; height: 100%; }

body {
  background-color: #fff;
  font: 14px Helvetica, Arial, sans-serif;
  font-size: normal;
  /*text-align: center;*/
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }

h2{
  margin: 1em 3em 1.2em;
  font-size: 2.0em;
  font-family:'Playfair Display', serif;
  letter-spacing: 0.05em;
  color: #000;
  text-align: center;
}

h3{
  margin: 1em 3em 1.2em;
  font-size: 1.6em;
  font-family:'Playfair Display', sans-serif;
  letter-spacing: 0.05em;
}
h4{
  margin: 1em 3em 1.2em;
  font-size: 1.4em;
  font-family:'Playfair Display', sans-serif;
  letter-spacing: 0.05em;
}
h5{
  margin: 1em 3em 1.2em;
  font-size: 1.2em;
  font-family:'Playfair Display', sans-serif;
  letter-spacing: 0.05em;
}
p{
  
  margin: 1em 6em 0 6em;
  font-family: Verdana;
  line-height: 1.5em;
  color: rgb(69,54,37);
}

a         { color: #111; }
a:hover   { color: #000; }
a:visited { color: #a0a; }


/****************************************************************************
 Home
****************************************************************************/
.posts {
  list-style-type: none;
  margin: 1em 0 0 16em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #666;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/ Site
/*****************************************************************************/

.circimage {
  border-radius: 20em;
  border: 2px solid #2B2E2E;
}
.site {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 1000px;
  line-height: 1.5em;
  margin: 0 auto 0;
  border:2px solid gray;
  background:#eee;
}

.header {
        width: 100%;
	height: 33px;
	background: #ccc;
        text-align: center;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}


.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #999;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  font-family:'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: #555;
  margin-left: 1em;
  letter-spacing: 0.03em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.content {
         width: 80%;
         padding: 0px 0px 40px 100px;
         
}
.content p{
  font-family: Verdana;
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em;
  line-height: 1.5em;
  color: rgb(69,54,37);
}
.content p:first-child{
  font-size: 1.25em;
  font-family: Georgia;
  font-style: italic;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  letter-spacing: 0.1em;
}

.footer {
  text-align: center;
  background: #ccc;
  color: #555;
  border-top: 4px solid #fff;
  margin-top: 4px;
  overflow: hidden;
}

.footer .contact {
  /*float: left;*/
  text-align: center;
  /*margin-right: 3em;*/
  }
.footer p{
   font-family:'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: #555;
  /*margin-left: 1em;*/
  letter-spacing: 0.03em;
}

.footer .contact a {
  color: #8085C1;
  margin-left: 2em;
}
/*
.footer .push {
	height: 80px;  .push must be the same height as .footer 
}*/

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 20em 0 10em;
  
}

.post ul, .post ol {
  margin-left: 1.35em;
  margin-bottom:4em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #aaa;
  padding: 0 .2em;
  
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
